@import url(https://fonts.googleapis.com/css?family=Inconsolata);

body{
  font-family: 'Inconsolata', 'Helvetica' ;
  background-image: url('images/OMJ8X45T05.jpg');
}

h1 {
  text-decoration: underline;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}