<a href="#countries"><button class="btn">back</button></a>
<a href="#/"><button class="btn">Home</button></a>
<div class="row">
	<h1>{{country.countryName}}</h1><img src="http://www.geonames.org/flags/x/{{country.countryCode | lowercase}}.gif" />
</div>
<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<table class="table table-hover table-responsive table-border">
		  <tr>
		    <th>Country Population</th>
		    <td>{{country.population | number}}</td>
		  </tr>
		  <tr>
		    <th>Country Area</th>
		    <td>{{country.areaInSqKm | number}} km<sup>2</sup></td>
		  </tr>
		   <tr>
		    <th>Country Capital</th>
		    <td>{{country.capital}}</td>
		  </tr>
		  <tr>
		    <th>Capital Population</th>
		    <td>{{capital.population | number}} </td>
		  </tr>
		  <tr>
		    <th>Neighbor Countries</th>
		    <td>
			    <ul class="list-inline">
				  <li ng-repeat="neighbor in neighbors"><a ng-href="#/details/{{neighbor.countryCode}}/{{neighbor.name}}">{{neighbor.countryName}}</a></li>
				</ul>
			</td>
		   </tr>
		</table>
	</div>
</div>

<div class="row">
	<div class="col-sm-4 col-sm-offset-4">
		<div class="angular-google-map-container">
		  <ui-gmap-google-map center='map.center' zoom='map.zoom'>
		  </ui-gmap-google-map>
		</div>
	</div>
</div>




